body {
  font-family: "Raleway", sans-serif;
}
.outerDiv {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 80px;
  font-weight: 600;
  margin: 24px 0px;
}
.subtitle {
  font-size: 20px;
  color: #777;
}
